/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-14, 3:39:45
    Author     : ameliapond
*/

header nav{
    float:right;
    list-style-type: none;
}

header nav ul li{
    display:inline;
}

header h1{
    display:center;
}

#navtable{
	display: table;
}

#navrow1, #navrow2{
	display: table-row;
}

#errands, #lostfound, #specialists, #study{
	display: table-cell;
	border: 1px solid #333;
}

#errandstb, #lostfoundtb, #specialiststb, #studytb{
	display: table;

}

#errandsrow, #lostfoundrow, #specialistsrow, #studyrow{
	display: table-row;
	width: 50%;
}

#errandspost, #lostfoundpost, #specialistspost, #studypost, #errandsview, #lostfoundview, #specialistsview, #studyview{
	display: table-cell;
}

#navtable h2{
	text-align: center;
}